.contenedor{
    background-color: pink;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caja{
    display: flex;
    background-color: grey;
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

